dump.tar.gz
dump_newest_only.txt
dump_all_versions.txt
parts.txt
makeglyph.js
build/
work.log
work.scr
work.sfd
glyphs.txt
work-scaled.sfd
work-scaled-obl.sfd
/Inconsolata-LGC*.sfd
SampuGothic.ttf
SampuGothic-Italic.ttf
build-b/
work-b.log
work-b.scr
work-b.sfd
work-b-scaled.sfd
work-b-scaled-obl.sfd
/Inconsolata-LGC*.sfd
SampuGothic-Bold.ttf
SampuGothic-BoldItalic.ttf
